.main{
	margin: 30px;
	background-color: #ffff;
}

.img-head{
	width: 90px;
	height: 90px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.jumbotron{
	margin: 50px;
}